Q1. What is a database? Differentiate between SQL and NoSQL databases.

Answer:-A database is an organized collection of data that can be easily accessed, managed, and updated. Databases are used to store information in a structured format, allowing for efficient retrieval, insertion, updating, and deletion of data.

The differentiate betwwen SQL and NoSQL databases are as follows:-
SQL Databases:
1.Relational databases that store data in tables with predefined schemas.
2.Fixed schema, where the structure of data is defined before storing.
3.Uses Structured Query Language (SQL) for defining and manipulating data.
4.Supports ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring reliable transactions.
5.Generally vertically scalable, meaning you can increase the capacity of a single server.
Examples: MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server.

NoSQL Databases:
1.Non-relational databases that store data in various formats such as key-value pairs, documents, columns, or graphs.
2.Dynamic schema, allowing for flexible and unstructured data storage.
3.Does not use SQL. Query methods vary based on the type of NoSQL database.
4.Some NoSQL databases provide limited support for ACID transactions, typically supporting BASE (Basically Available, Soft state, Eventual consistency).
5.Generally horizontally scalable, meaning you can add more servers to distribute the load.
Examples: MongoDB, Cassandra, Redis, Couchbase.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of database objects such as tables, indexes, and views. DDL commands are used to create, modify, and delete these structures without affecting the data within them.

DDL Command and their uses are as follows:-
1.CREATE:-Creates a new database object such as a table, index, or view.
EXAMPLE:-CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE
);

2.DROP:-Deletes an existing database object like a table, index, or view.
EXAMPLE:-DROP TABLE Employees;

3.ALTER:-Modifies the structure of an existing database object, such as adding or dropping columns.
EXAMPLE:-ALTER TABLE Employees
ADD Email VARCHAR(100);

ALTER TABLE Employees
DROP COLUMN HireDate;

4.TRUNCATE:-Removes all rows from a table without deleting the table itself. It resets any auto-incremented counters but does not log individual row deletions.
Example:-TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer:-DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate data within database tables. DML commands are used for inserting, updating, and deleting data in a database.

DML Commands and Their Uses are as follows:-
1.INSERT:-Adds new rows of data to a table.
Example:-INSERT INTO Employees (EmployeeID, FirstName, LastName, HireDate)
VALUES (1, 'John', 'Doe', '2023-01-15');

2.UPDATE:-Modifies existing data within a table.
Example:-UPDATE Employees
SET LastName = 'Smith'
WHERE EmployeeID = 1;

3.DELETE:-Removes existing rows of data from a table.
Example:-DELETE FROM Employees
WHERE EmployeeID = 1;

Q4. What is DQL? Explain SELECT with an example.

Answer:-DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that focuses on querying and retrieving data from a database. The primary command in DQL is the SELECT statement, used to query the database and retrieve the desired data.

SELECT Statement:-The SELECT statement is the most commonly used DQL command. It retrieves data from one or more tables in a database.
Syntax:-SELECT column1, column2, ...
FROM table_name
WHERE condition;

Example:-Consider a table named Employees with columns: EmployeeID, FirstName, LastName, and HireDate.
Example 1: Selecting All Columns
SELECT * FROM Employees;
The above query retrieves all columns from the Employees table.

Example 2: Selecting Specific Columns
SELECT FirstName, LastName FROM Employees;
The above query retrieves only the FirstName and LastName columns from the Employees table.

Example 3: Using the WHERE Clause
SELECT * FROM Employees
WHERE HireDate > '2023-01-01';
The above query retrieves all columns from the Employees table where the HireDate is after January 1, 2023.

Explanation:
SELECT *: Retrieves all columns from the specified table.
SELECT column1, column2, ...: Retrieves specified columns from the table.
FROM table_name: Specifies the table from which to retrieve the data.
WHERE condition: Filters the result set to include only rows that meet the specified condition.

The SELECT statement is fundamental for querying databases, allowing users to fetch and manipulate data efficiently.

Q5. Explain Primary Key and Foreign Key.

Answer:-1.Primary Key:-
A primary key is a column or a set of columns in a table that uniquely identifies each row in that table. It must contain unique values and cannot contain NULL values.
Purpose: Ensures that each record in the table is unique and provides a way to identify and retrieve individual records.

Example:-
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE
);
In this example EmployeeID is the primary key for the Employees table.

2.Foreign Key:-
A foreign key is a column or a set of columns in one table that refers to the primary key in another table. It establishes a relationship between the two tables.
Purpose: Enforces referential integrity between the tables, ensuring that the value in the foreign key column corresponds to a valid value in the primary key column of the related table.

Example:-
CREATE TABLE Departments (
    DepartmentID INT PRIMARY KEY,
    DepartmentName VARCHAR(50)
);

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE,
    DepartmentID INT,
    FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)
);
In this example DepartmentID in the Employees table is a foreign key that references the DepartmentID primary key in the Departments table. This relationship ensures that each employee belongs to a valid department.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Answer:-To connect MySQL to Python, you can use the mysql-connector-python library. Here’s a simple example of how to establish a connection and use the cursor() and execute() methods:
Step-by-Step Code:
Step 1.Install the MySQL Connector: Before using MySQL in Python, install the mysql-connector-python package using pip:
pip install mysql-connector-python
2.Connect to MySQL Database: Here’s the code to connect to the database, create a cursor, and execute a query:
import mysql.connector

# Establishing the connection
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = conn.cursor()

# Executing a SQL query
cursor.execute("SELECT * FROM Employees")

# Fetching all rows from the last executed statement
rows = cursor.fetchall()

# Printing the results
for row in rows:
    print(row)

# Closing the cursor and connection
cursor.close()
conn.close()


Explanation of cursor() and execute():-
1.cursor() Method:-
The cursor() method creates a cursor object which is used to interact with the database. The cursor is responsible for executing SQL queries and fetching data from the database.

cursor = conn.cursor()
Above command initializes a cursor object that can be used to execute SQL commands.

2.execute() Method:
The execute() method executes a specified SQL query using the cursor. It is used to perform various operations such as selecting, inserting, updating, or deleting data.

cursor.execute("SELECT * FROM Employees")
Above command executes the SQL query provided as a string. The results of the query can then be fetched using methods like fetchall(), fetchone(), etc.

Q7. Give the order of execution of SQL clauses in an SQL query.

Answer:-When executing an SQL query, the database engine processes the clauses in a specific order to ensure the correct result set is produced. Here is the typical order of execution for SQL clauses:-
1.FROM – Determines the tables involved in the query.
2.JOIN – Joins tables if there are any join conditions.
3.WHERE – Filters rows based on specified conditions.
4.GROUP BY – Groups rows sharing a value in specified columns.
5.HAVING – Filters groups created by GROUP BY based on aggregate conditions.
6.SELECT – Selects the columns to include in the final result set.
7.DISTINCT – Removes duplicate rows from the result set.
8.ORDER BY – Sorts the result set in ascending or descending order.
9.LIMIT – Limits the number of rows returned in the result set.

Example of Query with Execution Order:-
SELECT department, COUNT(*) as employee_count
FROM employees
WHERE salary > 50000
GROUP BY department
HAVING employee_count > 5
ORDER BY employee_count DESC
LIMIT 10;

Here’s the order of execution:

FROM employees
WHERE salary > 50000
GROUP BY department
HAVING employee_count > 5
SELECT department, COUNT(*) as employee_count
ORDER BY employee_count DESC
LIMIT 10

Sequence allows SQL to filter data early on (in WHERE), group data before applying conditions on the groups (in HAVING), and finally display the specified columns, sorted and limited as requested.